# Default values for spot-config-webhook.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
minikube: false
debug: false

tlsCertsSecretName: vault-secrets-webhook-tls-certs

image:
  repository: renanakeyless/webhook-server 
  tag: latest
  pullPolicy: Always


service:
  name: secrets-webhook
  type: ClusterIP
  externalPort: 443
  internalPort: 8443

env:
  AKEYLESS_ENV: renanakeyless/akeyless-env:latest
  AKEYLESS_URL: "https://vault.akeyless.io"
  AKEYLESS_ACCESS_ID: "" 
  AKEYLESS_ACCESS_TYPE: ""  # azure_ad/aws_iam

 # AKEYLESS_API_GW_URL: "https://api-gw-dns"
 # AKEYLESS_NAMESPACE_ACCESS_<ns>: "<ns-secret>"
 # AKEYLESS_NAMESPACE_ACCESS_<ns2>: "<ns-secret2>"
 # AKEYLESS_SECRET_DIR_NAME: "<path>"
 

resources:
  limits:
    cpu: 0.5
    memory: 192Mi
  requests:
    cpu: 0.25
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: |
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        topologyKey: kubernetes.io/hostname
        labelSelector:
          matchLabels:
            app: {{ template "vault-secrets-webhook.name" . }}
            release: {{ .Release.Name }}
